html {
    font-size:16px;
    margin-top:10px;
}
body{
    background: #FFF8F0;
    font-family: "Inter",sans-serif;
    font-weight:400;
    line-height:24px;
    color:#55206D;
    margin:0;
    padding:0;
}
h1{
    font-family: "League Spartan",sans-serif;
    font-size:48px;
    font-weight:700;
    line-height: 50px;
    letter-spacing:0em;
    text-align:left;
    color:#190D37;
    margin-top: 10px;
    margin-bottom: 30px;
}
h2{
    font-family: "League Spartan",sans-serif;
    font-size:36px;
    font-weight:700;
    line-height:40px;
    color:#000000;
}

.bigtext{
    color: #331E6A;
    font-family: "Poppins",sans-serif;
    font-size:18px;
    font-weight:400;
    line-height:32px;
}
#hero-section{
    display:flex;
    max-width:1440px;
    margin: 0 auto 48px auto;
}
#hero-text{
    width: 50%;
    padding:16px 20PX 32px 0px;
    margin-top:0 auto;

}
#hero-image-wrapper{
    width: 50%;
}
#hero-image{
    width: 50%;
}
button{
    background-color: #331E6A;
    color:whitesmoke
}
.smalltext{
    font-family:"Inter",sans-serif;
    font-size:12px;
    font-weight:400px;
    line-height: 14px;
    letter-spacing:0em;
    text-align:left;
    color: #000000;
}

#hi-and-name{
    margin-top:52px;
}
#contact-button{
height: 44px;
width:138px;
border-radius:4px;
background-color: #331E6A;
font-family: Inter;
font-size:16px;
font-weight:500;
line-height: 19px;
letter-spacing: 0em;
text-align:left;
margin-top: 20px;
margin-bottom: 20px;
}
#pricing-section{
    max-width:1060px;
    margin: 0 auto;
    margin: 48px;
}
.overtitle{
    font-family:Poppins;
    font-size:12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color:#2858FF;
    text-align: center;
    margin-bottom:8px;
}
.section-heading{
    text-align:center;
    max-width:700px;
    margin: 0 auto;
}
.section-subtitle{
    text-align: center;
    margin: 8px auto 48px auto;
    max-width: 700px;
}
#pricing-boxes{
    display: flex;
}
.pricing-box{
    width:33.33%;
}
.pricing-card{
    background-color: #FFFFFF;
    margin: 0 10px;
    border-radius:10px;
    box-shadow: 6px 2px 25px -9px #0000001A;
    padding:20px;
}
.service-contact{
}